<div id="tableContainer" class="table-responsive">
    <table id="expressionsTable" class="table table-hover table-bordered">
        <!-- This is our clonable table line -->
        <tr class="d-none">
            <td contenteditable="true" class="d-none"></td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
            <td>
                <span class="table-remove"><button type="button"
                        class="btn btn-danger btn-rounded btn-sm my-0">Elimina</button></span>
            </td>
        </tr>
        <tr>
            <th class="d-none">id</td>
            <th scope="col" style="min-width: 320px;">Clautano</th>
            <th scope="col" style="min-width: 320px;">Italiano</th>
            <th scope="col">
                <span class="table-add"><button type="button"
                        class="btn btn-success btn-rounded btn-sm my-0">Nuova</button></span>
            </th>
        </tr>
        <% for (let index = 0; index < expressions.length; index++) { %>
            <tr>
                <td class="d-none"><%= expressions[index].id %></td>
                <td contenteditable="true"><%= expressions[index].clautano %></td>
                <td contenteditable="true"><%= expressions[index].italiano %></td>
                <td>
                    <span class="table-remove"><button type="button"
                            class="btn btn-danger btn-rounded btn-sm my-0">Elimina</button></span>
                </td>
            </tr>>
            <% } %>    
    </table>
</div>