<%- include("../partials/header") %>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-md-8">

            <div class="card my-3 bg-light-accent text-light-shade">
                <div class="card-body">
                    <h4 class="card-title">Aggiungi parola</h4>
                </div>
            </div>

            <form action="/words" method="POST">
                <div class="form-group">
                    <label for="clautanoInput">Parola "clautana"</label>
                    <input name="word[clautano]" type="text" class="form-control" placeholder="Es. abastantha"
                        id="clautanoInput" aria-describedby="clautanolHelp" autofocus>
                    <small id="wordlHelp" class="form-text text-muted">Inserire qui la parola in clautano da
                        tradurre</small>
                </div>
                <div class="form-group">
                    <label for="alternativoInput">Oppure</label>
                    <input name="word[alternativo]" type="text" class="form-control" placeholder="Es. bastantha"
                        id="alternativoInput" aria-describedby="alternativolHelp">
                    <small id="alternativolHelp" class="form-text text-muted">Inserire qui un'eventuale termine
                        alternativo</small>
                </div>
                <div class="form-group">
                    <label for="categoriaInput">Categoria</label>
                    <input name="word[categoria]" type="text" class="form-control" placeholder="Es. avv."
                        id="categoriaInput" aria-describedby="categorialHelp">
                    <small id="categorialHelp" class="form-text text-muted">Inserire qui l'abbreivazione per la
                        categoria
                        di parola, per es. prep. = preposizione</small>
                </div>
                <div class="form-group">
                    <label for="traduzioneTextarea">Traduzione italiana</label>
                    <textarea name="word[traduzione]" placeholder="Es. Abbastanza." class="form-control"
                        id="traduzioneTextarea" rows="4" aria-describedby="traduzionelHelp"></textarea>
                    <small id="traduzionelHelp" class="form-text text-muted">Inserire qui la traduzione in italiano
                        della parola
                        clautana</small>
                </div>
                <div class="form-check">
                    <input name="word[voc_claut_1996]" class="form-check-input" type="checkbox" value="true"
                        id="voc_claut_Check">
                    <label class="form-check-label" for="voc_claut_Check"'>' VOCABOLARIO CLAUTANO - Borsatti, Giordani,
                        Peressini - 1996'</label>
                        <small id="voc_claut_Help" class="form-text text-muted">Spuntare se presente nel vocabolario
                            cartaceo</small>
                </div>

                <div class="form-group d-flex justify-content-center mt-3">
                    <input type="submit" value="Salva" class="btn btn-primary">
                    <a id="go-back" class="btn btn-primary text-white ml-2">Annulla</a>
                    <script>
                        document.getElementById('go-back').addEventListener('click', () => {
                            history.back();
                        });
                    </script>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>