<%- include("./partials/header") %>

<div class="container mt-2">
    <div class="row">
        <div class="col-md-5">
            <div class="card-body text-center">
                <h2 class="h3 h2-md font-weight-bold">
                    VOCABOLARIO<br>
                    C L A U T A N O
                </h2>
            </div>
            <a href="/words" title="Sfoglia">
                <div class="carousel slide carousel-fade shadow-lg rounded-lg p-2 mb-5" data-ride="carousel">
                    <div class="carousel-inner ">
                        <div class="carousel-item active"
                            style="transition: transform 10s ease 1s, opacity 10s ease-out">
                            <img class="d-block w-100" src="/images/Laip.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item" style="transition: transform 10s ease 1s, opacity 10s ease-out">
                            <img class="d-block w-100" src="/images/Carro_1.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item" style="transition: transform 10s ease 1s, opacity 10s ease-out">
                            <img class="d-block w-100" src="/images/Curtivo.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item" style="transition: transform 10s ease 1s, opacity 10s ease-out">
                            <img class="d-block w-100" src="/images/Archi.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item" style="transition: transform 10s ease 1s, opacity 10s ease-out">
                            <img class="d-block w-100" src="/images/Carro_2.jpg" alt="Second slide">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-7">
            <div class="card border-0 bg-primary text-light-shade shadow-lg my-5">
                <div class="row justify-content-center">
                    <div class="col-9">
                        <div class="card bg-dark-shade text-light-shade shadow-lg" style="position: relative; top: -24px; left: -30px">
                            <div class="card-body">
                                <blockquote class="blockquote mb-0 text-right">
                                    <p>
                                        Vi sono due cose durevoli che possiamo sperare di lasciare in eredità ai nostri
                                        figli:<br>le radici e le ali.
                                    </p>
                                    <footer class="blockquote-footer text-light-accent">
                                        proverbio cinese
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Per sfogliare il vocabolario cliccare sulla fotografia.<br>
                        Digitando un parola sul campo "cerca" nella barra dei menù si va direttamente alla pagina corrispondente alla parola cercata.<br>
                    </p>
                    <p class="card-text">
                        Il sito è aperto a tutti coloro che desiderano contribuire.<br>
                        Registrandosi è posibile inserire nuove parole, modificarle e cancellarle. Le parole inserite
                        saranno visibili solo dall'utente che le ha inserite fin tanto che lo stesso non sarà verificato come "fonte
                        attendibile".<br>
                        Per diventare utente attendibile farne richiesta per mezzo del modulo di contatto nella sezione
                        informazioni.
                    </p>
                </div>
            </div>
            <div class="card border-0 shadow my-5">
                <div class="card-header bg-gradient-light-shade">
                    PRIVACY
                </div>
                <div class="card-body bg-light-shade">
                    <p class="card-text">
                        I dati di accesso raccolti, servono solo per il funzionamento del sito e non verranno mai
                        divulgati.<br>
                        In qualsiasi momento, per qualunque motivo, è possibile richiederne la cancellazione tramite il
                        modulo
                        di contatto nella sezione Informazioni.
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>


<%- include("./partials/footer") %>