#voc_list h1{
    text-align: center;
    font-size: 3.5em;
}

.clautano{
    font-weight: bold;
}

.notVerified{
    color: purple;
}

.alternativo{
    font-weight: bold;
}

.categoria{
    font-style: italic;
}

.traduzione{
    white-space: pre-wrap;
}

.serifChar{
    font-family: 'Roboto Slab';
}

/* navbar dropdown-menu persoanlization */
.navbar .dropdown-menu{
    background-color: var(--info);
}
.navbar .dropdown-menu a, .navbar .dropdown-menu button {
    color: var(--light-accent);
}
.navbar .dropdown .show{
    margin-bottom: 9px;
}

/* landing page css */
    .blog-card-blog {
        margin-top: 10px;
    }

    .blog-card {
        display: inline-block;
        position: relative;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 6px;
        color: rgba(0, 0, 0, 0.87);
        background: #FCF6EB
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .blog-card .blog-card-image {
        width: 70%;
        height: 60%;
        position: relative;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        margin-top: -30px;
        margin-bottom: 5px;
        border-radius: 6px;
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }

    .blog-card .blog-card-image img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        pointer-events: none;
    }
