<%- include("../partials/header") %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-8 text-center">
      <div class="card bg-danger text-light-shade">
        <div class="card-header">404-page</div>
        <div class="card-body">
          <p class="card-text">L'indirizzo richiesto non è disponibile!<br>
            Clicca sull'icona del libro in alto sulla barra per tornare alla pagina principale.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include("../partials/jsLibs") %>

</body>

</html>