<%- include("../partials/header") %>

<div class="container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-8 text-center">
                <h1>S E C R E T</h1>
                <img class="img-fluid" src="https://d.repubblica.it/images/2013/11/21/122431516-a71c20c5-6fad-4e5e-a0d8-170edd711a6a.jpg"
                    alt="">
            </div>
        </div>
    </div>



    <%- include("../partials/footer") %>