<%- include("../partials/header") %>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-md-9">

            <div class="card my-3 border-warning bg-transparent">
                <div class="card-body">
                    <h4 class="card-title">Login</h4>
                </div>
            </div>

            <form id="userDataForm" action="/users/login" method="post">

                <div class="form-group">
                    <label for="emailInput">Nome utente (Email):</label>
                    <input class="form-control" id="emailInput" type="email" name="email" placeholder="email@mail.com"
                        aria-describedby="emailHelp" required>
                    <!-- <small id="emaillHelp" class="form-text text-muted">Inserire il proprio mone utente corrispondente
                all'indirizzo mail</small> -->
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password:</label>
                    <input class="form-control" id="passwordInput" type="password" name="password"
                        placeholder="password" aria-describedby="passwordHelp" required>
                    <!-- <small id="passwordlHelp" class="form-text text-muted">Inserire la propria password</small> -->
                </div>
                <input type="submit" value="Invio" class="btn btn-warning text-white">
                <input id="username" type="hidden" name="username">
            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>

<script>
    function cloneEmail(event) {
        console.log("Cloning....")
        var src = document.getElementById("emailInput"),
            dst = document.getElementById("username");
        dst.value = src.value;
    };
    var ele = document.querySelector('#userDataForm');
    if (ele.addEventListener) {
        ele.addEventListener("submit", cloneEmail, false);  //Modern browsers
    } else if (ele.attachEvent) {
        ele.attachEvent('onsubmit', cloneEmail);            //Old IE
    }
</script>