<style>
    body {
        background: rgb(228, 202, 88)
    }
</style>

<%- include("../partials/header") %>

<div class="container">
    <h2>Register form</h2>

    <form id="userDataForm" action="/register" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="firstName" placeholder="nome" id="">
            <input type="text" class="form-control" name="lastName" placeholder="cognome" id="">
            <input type="text" class="form-control" name="surname" placeholder="soprannome" id="">
            <input id="email" type="email" class="form-control" name="email" placeholder="email" id="">
            <input type="password" class="form-control" name="password" placeholder="password" id="">
            <input type="submit" value="Invio">
            <input id="username" type="hidden" name="username">
        </div>
    </form>

</div>
<%- include("../partials/footer") %>
<script>
    function cloneEmail(event) {
        console.log("Cloning....")
        var src = document.getElementById("email"),
            dst = document.getElementById("username");
        dst.value = src.value;
    };
    var ele = document.querySelector('#userDataForm');
    if (ele.addEventListener) {
        ele.addEventListener("submit", cloneEmail, false);  //Modern browsers
    } else if (ele.attachEvent) {
        ele.attachEvent('onsubmit', cloneEmail);            //Old IE
    }
</script>