<style>
    body {
        background: rgb(228, 202, 88)
    }
</style>

<%- include("../partials/header") %>

<div class="container">
    <div class="card my-3 border-warning bg-transparent">
        <div class="card-body">
            <h4 class="card-title">Sign Up</h4>
        </div>
    </div>

    <form id="userDataForm" action="/register" method="POST">
        <div class="form-group">            
            <div class="form-group">
                <label for="firstNameInput">Nome:</label>
                <input class="form-control" id="firstNameInput" type="text" name="firstName" placeholder="Teresa"
                    aria-describedby="firstNameHelp" required minlength="3" maxlength="15">
                <small id="firstNameHelp" class="form-text text-muted">Inserire il proprio mone (3-15 caratteri).</small>
            </div>
            <div class="form-group">
                <label for="lastNameInput">Cognome:</label>
                <input class="form-control" id="lastNameInput" type="text" name="lastName" placeholder="Borsatti"
                    aria-describedby="lastNameHelp" required minlength="3" maxlength="15">
                <small id="lastNameHelp" class="form-text text-muted">Inserire il proprio cognome (3-15 caratteri).</small>
            </div>
            <div class="form-group">
                <label for="surnameInput">Soprannome:</label>
                <input class="form-control" id="surnameInput" type="text" name="surname" placeholder="Chinese"
                    aria-describedby="surnameHelp" maxlength="15">
                <small id="surameHelp" class="form-text text-muted">Inserire il proprio cognome (max 15 caratteri).</small>
            </div>
            <div class="form-group">
                <label for="emailInput">Email:</label>
                <input class="form-control" id="emailInput" type="email" name="email" placeholder="teresa.borsatti@sito.org"
                    aria-describedby="emailHelp" required >
                <small id="emailHelp" class="form-text text-muted">Inserire il proprio indirizzo mail che sarà il proprio nome utente.</small>
            </div>
            <div class="form-group">
                <label for="passwordInput">Nome:</label>
                <input class="form-control" id="password" type="password" name="password" placeholder="password"
                    aria-describedby="passwordHelp" required minlength="8">
                <small id="passwordHelp" class="form-text text-muted">Inserire la propria password (almeno 8 caratteri ).</small>
            </div>

            <input class="btn btn-warning text-white" type="submit" value="Invio">
            <input id="username" type="hidden" name="username">
        </div>
    </form>

</div>
<%- include("../partials/footer") %>
<script>
    function cloneEmail(event) {
        console.log("Cloning....")
        var src = document.getElementById("emailInput"),
            dst = document.getElementById("username");
        dst.value = src.value;
    };
    var ele = document.querySelector('#userDataForm');
    if (ele.addEventListener) {
        ele.addEventListener("submit", cloneEmail, false);  //Modern browsers
    } else if (ele.attachEvent) {
        ele.attachEvent('onsubmit', cloneEmail);            //Old IE
    }
</script>